/*
Reset [changement de la valeur en pourcentage pour grossir la totalité des polices du site de manière proportionnelle]
*/

*{
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    font-size: 62.5%; /* 16.5 x 62.5 / 100 : 10 = 1 rem (10px) */
}
body{
    font-size: 1.5rem;
}
h1{
    font-size: 3rem;
}
h1 span{
    font-size: .5em;
}